dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
.idea/*


### Scala ###
*.class
*.log
*.iml

# End of https://www.gitignore.io/api/sbt,scala

docs/tut-out/*.md
docs/tut-out/*.html

server/src/main/resources/*.html
.metals
.bloop
project/.bloop
